*{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 100%;
    height: 100%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #1f272eee;
    transition: 0.2s;
    font-size: 15px;
    height: 100px;
    line-height:80px;
    margin-right: 50px;
  }
  .sticky img{
    transform: scale(1.1);
    transition: 0.2s;
  }
  .sticky ul li img{
      width: 100px;
      height: 60px;
  }
  
  .sticky + #demo {
    padding-top: 102px;
  }
/* phần đầu */
.header{
    height: 30px;
    background-color: #1f272eee;
    border-bottom: 1px solid #6e7a8a69;
}
#content{
    width: 80%;
    margin-left: 10%;
}
#content-01{
    float: left;
}
#content-02{
    float: right;
}
#content span{
    line-height: 30px;
    font-size: 15px;
    color:#8797ae;
    opacity: 5;
    /* hiệu ứng */
    transition: ease-in 0.15s;
    -moz-transition: ease-in 0.15s;
    -webkit-transition: ease-in 0.15s;
}
#content span a{
    text-decoration: none;
    color:#8797ae;
}
#content span a:hover{
    transition: ease-in 0.25s;
    -moz-transition: ease-in 0.25s;
    -webkit-transition: ease-in 0.25s;
    color:#32c5d2;
}
/* --------------------------------------------------- */
/* nav */
.nav{
    background-color: #1f272eee;
    height: 100px;
    font-size: 17px;
    clear: both;
    transition: 0.5s;
}
.nav .content ul li{
    display: inline;
    line-height: 100px;
    list-style: none;
    color: white;
    padding: 0px 25px;
}
.nav .content ul li a{
    text-decoration: none;
    color: white;
}
.nav .content ul li a:hover{
    transition: ease-in 0.15s;
    -moz-transition: ease-in 0.15s;
    -webkit-transition: ease-in 0.15s;
    text-decoration: none;
    color:#32c5d2;
}
#nav-logo img{
    width: 180px;
    height: 50px;
}
#nav-logo{
    margin-left: 100px;
}
#nav-home{
    margin-left: 200px;
}
.nav .content ul li .btn{
    width: 150px;
    padding: 5px 0px;
    font-size: small;
    border-radius: 15px;
    border: 1px solid #f1f1f1;
    color: white;
    background-color: none;   
    
}
.nav .content ul li .btn:hover{
    color: #333;
    border: 1px solid #f1f1f1;
    background-color: white;
}
.nav .content ul li .btn:hover a{
    color: #333;
}
/* --------------------------------------------------- */
/* carousel */
#demo{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.images{
    width: 1100px;
    height: 300px;
}
/* -------------------------------------------------- */
/* customer */
.run-customer{
    margin-top: 10px;
    height: 50px;
    line-height: 50px;
}
.name-user{
    padding: 3px 5px;
    border: 1px solid aqua;
    border-radius: 5px;
    background-color: aqua;
    color: white;
}
.label{
    margin: 20px;
    text-align: center;
    clear: both;
}
.label-2{
    margin: 20px;
    margin-left: 50px;
    text-align: center;
    clear: both;
}

.line-center{
    width: 5%;
    height: 3px;
    margin-left: 47.9%;
    background-color: #32c5d2;
    margin-bottom: 50px;
}
.line-center-01{
    width: 5%;
    height: 3px;
    margin-left: 47.5%;
    background-color: #32c5d2;
    margin-bottom: 50px;
}
.line-center-02{
    width: 5%;
    height: 3px;
    margin-left: 47.9%;
    background-color: #32c5d2;
}
/* -------------------------------------------------- */

/* function */
.function{
    margin-left: 7%;
    margin-right: 7%;
}
.function ul li{
    list-style: none;
    display: inline-block;
    padding: 0 10px;
}
.function ul li img{
    width: 300px;
    height: 300px;
    opacity: 0.75;
}
.function ul li img:hover{
    opacity: 1;
}
/* service */
.service{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 300px;
}
.member{
    float: left;
    background-color: white;
    width: 250px;
    height: 350px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-align-last: center;
    margin-right: 10px;
    
}
.member:hover{
    box-shadow: 0 0 5px #333;
    transition: ease-in 0.15s;
    -moz-transition: ease-in 0.15s;
    -webkit-transition: ease-in 0.15s;
}
.member img{
    border-radius: 5px;
    width: 247px;
    height: 180px;
    padding: 1px;
}
.member span{
    color: #f7b03c;
    font-weight: bold;
}
.member p{
    opacity: 0.75;
}
.service-btn{
    font-size: medium;
    text-align: center;
    width: 150px;
    padding: 5px 0;
    border: 1px solid #ff6b57;
    background-color: #ff6b57 ;
    border-radius: 20px;
    outline: none !important;
    color: #ffff;
}
.service-btn a{
    text-decoration: none;
    color: white;
}
.service-btn:hover{
    outline: none;
    border-radius: 20px;
    background-color:#ff472e;
    }
/* chan trang */
.footer{
    height: 300px;
    background-color: #1f272eee;
    clear: both;
}
#ytplayer{
    padding: 50px;
    float: left;
}
#my-address{
    width: 450px;
    height: 250px;
    float: left;
    margin: 50px 30px 0 50px;
}
#my-address b{
    color: white;
}
#my-address h3{
    font-size: 20px;
}
#my-address span{
    font-size: 15px;
    color:#8797ae;
    opacity: 0.75;
}
#lh ul li{
   list-style: none;
   color:#8797ae;
   opacity: 0.75;
   border-bottom: 1px solid #6e7a8a69;
}
#lh ul li a{
    list-style: none;
    color:#8797ae;
    opacity: 0.75;
    text-decoration: none;
 }
 #lh ul li a:hover{
    transition: ease-in 0.25s;
    -moz-transition: ease-in 0.25s;
    -webkit-transition: ease-in 0.25s;
    color:#32c5d2;
    opacity: 1;
 }
 #my-address a{
    color:#8797ae;
    text-decoration: none;
 }
 .img-product{
     padding-top: 50px;
     height: 200px;
     width: 100%;
     text-align-last: center;
 }
 .img-product ul li{
    display: inline-block;
}
.img-product ul li img{
    width: 350px;
    
}
.a{
    text-decoration: none;
    color: white;
}
.dieukhoan{
    width: 90%;
    margin-left: 5%;
    margin-top: 20px;
    height: 950px;
    padding: 5px;
    border: 1px solid #1f272eee;
}