* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1920px;
}

body a:hover {
  text-decoration: none;
}

body .header {
  clear: both;
  height: 30px;
  background-color: #1f272eee;
  border-bottom: 1px solid #6e7a8a69;
}

body .header #contact {
  opacity: 0.75;
  width: 80%;
  margin-left: 10%;
}

body .header #contact #contact-01 {
  float: left;
}

body .header #contact #contact-02 {
  float: right;
}

body .header #contact #contact-02 span, body .header #contact #contact-01 span {
  line-height: 30px;
  font-size: 15px;
  color: #8797ae;
  opacity: 5;
}

body .header #contact #contact-02 span a, body .header #contact #contact-01 span a {
  line-height: 30px;
  font-size: 15px;
  color: #8797ae;
  opacity: 5;
}

body .header #contact #contact-02 span a:hover, body .header #contact #contact-01 span a:hover {
  transition: ease-in 0.25s;
  -moz-transition: ease-in 0.25s;
  -webkit-transition: ease-in 0.25s;
  color: #32c5d2;
}

body .nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  -webkit-transform: none;
          transform: none;
  background-color: #1f272eee;
  height: 100px;
  font-size: 17px;
  clear: both;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .nav #nav-logo {
  margin-left: 100px;
}

body .nav #nav-logo img {
  width: 180px;
  height: 50px;
}

body .nav ul li {
  line-height: 100px;
  display: inline-block;
  padding: 0px 50px;
}

body .nav ul li a {
  text-decoration: none;
  color: white;
}

body .nav ul li a:hover {
  transition: ease-in 0.25s;
  -moz-transition: ease-in 0.25s;
  -webkit-transition: ease-in 0.25s;
  color: #32c5d2;
}

body .nav ul li .btn {
  width: 150px;
  padding: 5px 0px;
  font-size: small;
  border-radius: 15px;
  border: 1px solid #f1f1f1;
  color: white;
  background-color: none;
}

body .nav ul li .btn a {
  display: block;
}

body .nav ul li .btn:hover {
  border: 1px solid #f1f1f1;
  background-color: white;
}

body .nav ul li .btn:hover a {
  text-decoration: none;
  color: #1f272eee;
}

body #baner {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 70%;
}

body #baner img {
  height: 300px;
}

body .test {
  height: 900px;
  background-color: antiquewhite;
}

body .run-customer {
  margin-top: 10px;
  height: 50px;
  line-height: 50px;
}

body .run-customer marquee .name-user {
  padding: 3px 5px;
  border: 1px solid aqua;
  border-radius: 5px;
  background-color: aqua;
  color: white;
}

body .label {
  margin: 20px;
  text-align: center;
  clear: both;
}

body .label .line-center {
  width: 5%;
  height: 3px;
  margin-left: 47.9%;
  background-color: #32c5d2;
  margin-bottom: 50px;
}

body .menu-function {
  margin-left: 7%;
  margin-right: 7%;
  clear: both;
}

body .menu-function ul li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
}

body .menu-function ul li img {
  width: 300px;
  height: 300px;
  opacity: 0.75;
}

body .menu-function ul li img:hover {
  opacity: 1;
}

body .menu-service {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  height: 300px;
  margin-bottom: 100px;
}

body .menu-service .member {
  float: left;
  background-color: white;
  width: 250px;
  height: 350px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  text-align-last: center;
  margin-right: 10px;
}

body .menu-service .member img {
  border-radius: 5px;
  width: 247px;
  height: 180px;
  padding: 1px;
}

body .menu-service .member span {
  color: #f7b03c;
  font-weight: bold;
}

body .menu-service .member p {
  opacity: 0.75;
}

body .menu-service .member .service-btn {
  font-size: medium;
  text-align: center;
  width: 150px;
  padding: 5px 0;
  border: 1px solid #ff6b57;
  background-color: #ff6b57;
  border-radius: 20px;
  outline: none !important;
  color: #ffff;
}

body .menu-service .member .service-btn a {
  display: block;
  text-decoration: none;
  color: white;
}

body .menu-service .member .service-btn:hover {
  outline: none;
  border-radius: 20px;
  background-color: #ff472e;
}

body .menu-service .member:hover {
  -webkit-box-shadow: 0 0 5px #333;
          box-shadow: 0 0 5px #333;
  transition: ease-in 0.15s;
  -moz-transition: ease-in 0.15s;
  -webkit-transition: ease-in 0.15s;
}

body .img-product {
  padding-top: 0px;
  height: 200px;
  width: 100%;
  text-align-last: center;
}

body .img-product ul li {
  display: inline-block;
}

body .img-product ul li img {
  width: 350px;
}

body .footer {
  height: 300px;
  background-color: #1f272eee;
  clear: both;
}

body .footer #logo {
  padding: 50px;
  float: left;
}

body .footer #my-address {
  width: 450px;
  height: 250px;
  float: left;
  margin: 50px 30px 0 50px;
}

body .footer #my-address a {
  color: #8797ae;
  text-decoration: none;
}

body .footer #my-address b {
  color: white;
}

body .footer #my-address h3 {
  font-size: 20px;
}

body .footer #my-address span {
  font-size: 15px;
  color: #8797ae;
  opacity: 0.75;
}

body .footer #my-address #lh ul li {
  list-style: none;
  color: #8797ae;
  opacity: 0.75;
  border-bottom: 1px solid #6e7a8a69;
}

body .footer #my-address #lh ul li a {
  list-style: none;
  color: #8797ae;
  opacity: 0.75;
  text-decoration: none;
}

body .footer #my-address #lh ul li a:hover {
  transition: ease-in 0.25s;
  -moz-transition: ease-in 0.25s;
  -webkit-transition: ease-in 0.25s;
  color: #32c5d2;
  opacity: 1;
}

body .dieukhoan {
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  height: 950px;
  padding: 5px;
  border: 1px solid #1f272eee;
}

body #napthe {
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  height: 100px;
  padding: 5px;
  border: 1px solid #1f272eee;
  text-align: center;
}

body .form-login-reg {
  clear: both;
  margin-left: 50%;
  margin-top: 30px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 400px;
  background: none;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  border: 1px solid #a6a6a6;
}

body .form-login-reg h4 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}

body .form-login-reg form {
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .form-login-reg form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

body .form-login-reg form .txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

body .form-login-reg form .txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  -webkit-transition: .5s;
  transition: .5s;
}

body .form-login-reg form .txt_field span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #1f272eee;
  -webkit-transition: .5s;
  transition: .5s;
}

body .form-login-reg form .txt_field input:focus ~ label,
body .form-login-reg form .txt_field input:valid ~ label {
  top: -5px;
  color: #1f272eee;
}

body .form-login-reg form .txt_field input:focus ~ span::before,
body .form-login-reg form .txt_field input:valid ~ span::before {
  width: 100%;
}

body .form-login-reg form .pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}

body .form-login-reg form .pass:hover {
  text-decoration: underline;
}

body .form-login-reg form input[type="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: white;
  border-radius: 25px;
  border: 1px solid #1f272eee;
  font-size: 18px;
  color: #333;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

body .form-login-reg form input[type="submit"]:hover {
  border-color: #1f272eee;
  background-color: #1f272eee;
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

body .form-login-reg form input[type="button"] {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: white;
  border-radius: 25px;
  border: 1px solid #1f272eee;
  font-size: 18px;
  color: #333;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

body .form-login-reg form input[type="button"]:hover {
  border-color: #1f272eee;
  background-color: #1f272eee;
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
}

body .form-login-reg form .signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

body .form-login-reg form .signup_link a {
  color: #2691d9;
  text-decoration: none;
}

body .form-login-reg form .signup_link a:hover {
  text-decoration: underline;
}

body #container-lmht {
  height: auto;
  width: 80%;
  margin-left: 10%;
}

body #container-lmht #control-acc {
  margin-left: 25px;
}

body #container-lmht #control-acc .btn {
  width: 100px;
  padding: 5px 0px;
  font-size: small;
  border-radius: 5px;
  border: 1px solid  black;
  color: black;
  background-color: none;
}

body #container-lmht #control-acc .btn a {
  color: black;
  display: block;
}

body #container-lmht #control-acc .btn:hover {
  background-color: black;
}

body #container-lmht #control-acc .btn:hover a {
  text-decoration: none;
  color: white;
}

body #container-lmht .view {
  visibility: hidden;
}

body #container-lmht #view-acc-with-id .acc {
  display: inline-block;
  clear: both;
  margin-right: 15px;
  width: 350px;
  height: 200px;
  margin: 25px;
  overflow: hidden;
}

body #container-lmht #view-acc-with-id .acc .img-acc {
  position: absolute;
  width: 350px;
  height: 200px;
}

body #container-lmht #view-acc-with-id .acc .img-acc img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

body #container-lmht #view-acc-with-id .acc .introduce-acc {
  width: 350px;
  height: 200px;
  position: absolute;
  border-radius: 5px;
  background-color: #1f272eee;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body #container-lmht #view-acc-with-id .acc .introduce-acc span {
  color: white;
  font-size: medium;
  padding: 20px;
}

body #container-lmht #view-acc-with-id .acc .introduce-acc .gia-acc {
  float: left;
  font-size: small;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #container-lmht #view-acc-with-id .acc .introduce-acc .thanhtoan-xemthem .btn {
  width: 150px;
  padding: 5px 0px;
  font-size: small;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  color: white;
  background-color: none;
}

body #container-lmht #view-acc-with-id .acc .introduce-acc .thanhtoan-xemthem .btn a {
  color: white;
  display: block;
}

body #container-lmht #view-acc-with-id .acc .introduce-acc .thanhtoan-xemthem .btn:hover {
  border: 1px solid #f1f1f1;
  background-color: white;
}

body #container-lmht #view-acc-with-id .acc .introduce-acc .thanhtoan-xemthem .btn:hover a {
  text-decoration: none;
  color: #1f272eee;
}

body #container-lmht #view-acc-with-id .acc:hover .introduce-acc {
  opacity: 1;
  -webkit-box-shadow: 0 0 5px #1f272eee;
          box-shadow: 0 0 5px #1f272eee;
}

body #container-lmht #list-acc .acc {
  display: inline-block;
  clear: both;
  margin-right: 15px;
  width: 350px;
  height: 200px;
  margin: 25px;
  overflow: hidden;
}

body #container-lmht #list-acc .acc .img-acc {
  position: absolute;
  width: 350px;
  height: 200px;
}

body #container-lmht #list-acc .acc .img-acc img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

body #container-lmht #list-acc .acc .introduce-acc {
  width: 350px;
  height: 200px;
  position: absolute;
  border-radius: 5px;
  background-color: #1f272eee;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body #container-lmht #list-acc .acc .introduce-acc span {
  color: white;
  font-size: medium;
  padding: 20px;
}

body #container-lmht #list-acc .acc .introduce-acc .gia-acc {
  float: left;
  font-size: small;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #container-lmht #list-acc .acc .introduce-acc .thanhtoan-xemthem .btn {
  width: 150px;
  padding: 5px 0px;
  font-size: small;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  color: white;
  background-color: none;
}

body #container-lmht #list-acc .acc .introduce-acc .thanhtoan-xemthem .btn a {
  color: white;
  display: block;
}

body #container-lmht #list-acc .acc .introduce-acc .thanhtoan-xemthem .btn:hover {
  border: 1px solid #f1f1f1;
  background-color: white;
}

body #container-lmht #list-acc .acc .introduce-acc .thanhtoan-xemthem .btn:hover a {
  text-decoration: none;
  color: #1f272eee;
}

body #container-lmht #list-acc .acc:hover .introduce-acc {
  opacity: 1;
  -webkit-box-shadow: 0 0 5px #1f272eee;
          box-shadow: 0 0 5px #1f272eee;
}

body #acc-01 {
  height: auto;
  width: 80%;
  margin-left: 10%;
}

body #acc-01 .nav-acc-01 {
  height: 50px;
  background-color: #333;
  border-radius: 5px;
  padding-left: 10px;
  color: #f7b03c;
  line-height: 50px;
}

body #acc-01 .nav-acc-01 .btn {
  width: 150px;
  padding: 10px 0px;
  font-size: small;
  border-radius: 5px;
  border: 1px solid #f1f1f1;
  color: white;
}

body #acc-01 .nav-acc-01 .btn:hover {
  border: 1px solid #f1f1f1;
  background-color: white;
  color: #1f272eee;
}

body #acc-01 .tt-acc-01 img {
  margin-top: 3px;
  width: 100%;
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */